/* Variables */
:root {
	--basic-black: #000000;
	--basic-white: #ffffff;
	--basic-dark: #283136;
	--special-contacts: #666666;
	--special-footer: #444444;
	--background-yellow: #EFC849;
	--background-red: #FB565A;
	--background-green: #00CA74;
}
.page{
	height: 100%;
}
.page-body{
	font-family: 'Roboto',Arial, sans-serif;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.container{
	width: 1160px;
	margin: 0 auto;
	padding: 0;
}
/* header */
.main-header{
	margin: 0 auto;
	width: 1160px;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	background-color: #eeeeee;
}
.navigation-link{
	color: var(--basic-black);
	text-decoration: none;
}
.navigation-link:hover, .cart-link:hover{
	color: #FB565A;
}

.navigation-link:active, .cart-link:active{
	color: #000000;
	opacity: 0.2;
}

.catalog-active {
	border-bottom: 2px solid #FB565A;
}

.cart-link{
	font-weight: 500;
	line-height: 30px;
	color: var(--basic-black);
	text-decoration: none;
}

/* main-wrapper */
.main-wrapper{
	margin: 0 auto;
	width: 1160px;
}
.visually-hidden {
	height: 0;
  overflow: hidden;
  position: absolute;
}

/* intro */
.intro{
	background-color: #eeeeee;
}
.intro-large-text {
	margin: 0;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black); 
}
.intro-small-text {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}
.intro-excerpt{
	padding: 17px 54px;
	color: var(--basic-white);
	background-color: var(--background-red);
	text-transform: uppercase;
	font-weight: 300;
	text-decoration: none;
	border-radius: 3px;
}
.intro-excerpt:hover{
	background-color: #E74246;
}
.intro-excerpt:active{
	color: rgba(255, 255, 255, .3);
	background-color: #D7373B;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* products */
.products{
	padding-top: 80px;
}
.product-title{
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}
.product-text{
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-dark);
}

.button{
	border-radius: 3px;
	padding: 17px 40px 15px;
	border: none;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 300;
}
.products-button-red {
	background-color: var(--background-red);
}
.products-button-red:hover{
	background-color: #E74246;
}
.products-button-red:active{
	color: rgba(255,255,255, .3);
	background-color: #D7373B;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}



.products-button-green {
	background-color: var(--background-green);
}
.products-button-green:hover{
	background-color: #00BC6C;
}
.products-button-green:active{
	background-color: #00AA62;
	color: rgba(255,255,255, .3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.products-button-yellow{
	background-color: var(--background-yellow);
}
.products-button-yellow:hover{
	background-color: #EAB534;
}
.products-button-yellow:active{
	background-color: #E5A722;
	color: rgba(255,255,255, .3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* about */
.about-title{
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.about-text, .about-subtitle, .about-item {
	color: var(--basic-dark);
}

.about-text{
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

.about-subtitle {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}


/* advantages */
.advantages{

}

.advantage-title{
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.advantage-item-decorate {
	font-weight: 700;
	font-size: 45px;
	line-height: 64px;
}
.advantage-item-decorate span{
	font-size: 26px;
	line-height: 40px;
}
.advantage-item-desc {
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
}



/* footer */
.footer{

}

/* contacts */
.contacts-title{
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}
.contacts-text-address, .contacts-tel{
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: var(--special-contacts);
}
.contacts-button {
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	background-color: var(--background-red);
	text-transform: uppercase;
}

.contacts-button:hover{
	background-color: #E74246;
}
.contacts-button:active{
	color: rgba(255, 255, 255, .3);
	background-color: #D7373B;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* benefit */
.benefit-large-text {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
}
.benefit-small-text {
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: var(--special-footer);
}