/* Variables */
:root{
	--basic-black: #000000;
	--basic-white: #ffffff;
	--basic-dark: #283136;
	--special-contacts: #666666;
	--special-footer: #444444;
	--background-yellow: #EFC849;
	--color-logo-active: #A6A6A6;
	--background-red: #FB565A;
	--background-green: #00CA74;
	--background-section: #EEEEEE;
	--color-hover-link: #FB565A;
	--color-excerpt-hover: #E74246;
	--color-opacity: rgba(255, 255, 255, .3);
	--active-button-red: #D7373B;
	--hover-button-green: #00BC6C;
	--active-button-green: #00AA62;
	--hover-button-yellow: #EAB534;
	--active-button-yellow: #E5A722;
	--color-special-current: #DBDBDB;
	--background-pagination-hover: #DFDFDF;
	--background-pagination-continuation: #D5D5D5;
	--color-active-black: rgba(0, 0, 0, .3);
	--decorate-color: rgba(0,0,0, .1);
	--color-checkbox: #4D4D4D;
	--background-color-scale: #D7DCDF;
	--background-color-bar: #00CA74;
	--background-input: #f1f1f1;
	--background-social-link: #E1E1E1;
	--svg-opacity: rgba(0, 0, 0, .2);
	--svg-opacity-active: rgba(0, 0, 0, .1);
}

*{
	box-sizing: border-box;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img{
  max-width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
}

p{
	padding: 0;
	margin: 0;
}

.page{
	height: 100%;
}

.page-body{
	font-family: 'Roboto',Arial, sans-serif;
}

.container{
	width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
}

/* header */
.main-header{
	padding-top: 49px;
	text-transform: uppercase;
	background-color: var(--background-section);
}

.header-logo:active path{
	fill: var(--color-logo-active);
}

.main-navigation{
	display: grid;
	grid-template-columns: 160px 1fr;
}

.navigation-wrapper{
	display: grid;
	grid-template-columns: 1fr 160px;
	padding-top: 13px;
}

.navigation-list{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.navigation-item{
	margin-right: 22px;
	margin-left: 22px;
}

.navigation-item:first-child{
	margin-left: 0;
}

.navigation-item:last-child{
	margin-right: 0;
}

.navigation-link{
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	color: var(--basic-black);
	text-decoration: none;
}

.navigation-link:hover, .cart-link:hover{
	color: var(--color-hover-link);
}

.navigation-link:active, .cart-link:active{
	color: var(--basic-black);
	opacity: 0.2;
}

.catalog-active{
	position: relative;
}

.catalog-active::before{
	position: absolute;
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	top: 30px;
	left: 0;
	background-color: var(--color-hover-link);
}

.wrapper-cart-link{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.cart-link{
	display: inline-block;
	font-weight: 600;
	line-height: 30px;
	color: var(--basic-black);
	text-decoration: none;
}

.cart-link::before{
	margin-right: 20px;
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("../img/icons-decorate/cart-icon.svg") center no-repeat;
}

/* main */
.visually-hidden{
	position: absolute;
	height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* intro */
.intro{
	background-color: var(--background-section);
}

.wrapper-intro{
	display: grid;
	grid-template-columns: 1fr 760px;
}

.intro-large-text{
	padding-top: 80px;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black); 
}

.intro-small-text{
	padding-top: 25px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}

.intro-excerpt{
	display: inline-block;
	margin-top: 38px;
	padding: 17px 54px;
	color: var(--basic-white);
	background-color: var(--background-red);
	text-transform: uppercase;
	font-weight: 400;
	text-decoration: none;
	border-radius: 3px;
}

.intro-wrap-text{
	display: flex;
}

.intro-excerpt:hover{
	background-color: var(--color-excerpt-hover);
}

.intro-excerpt:active{
	color: var(--color-opacity);
	background-color: var(--active-button-red);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* products */
.products{
	padding-top: 80px;
}

.products-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 60px;
}

.product-title{
	margin-top: 18px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.product-text{
	margin-top: 16px;
	padding-right: 100px;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-dark);
}

.products-button{
	margin-top: 32px;
}

.button{
	border-radius: 3px;
	padding: 17px 40px 15px;
	border: none;
	color: var(--basic-white);
	text-transform: uppercase;
	font-weight: 300;
}

.products-button-red{
	background-color: var(--background-red);
}

.products-button-red:hover{
	background-color: var(--color-excerpt-hover);
}

.products-button-red:active{
	color: var(--color-opacity);
	background-color: var(--active-button-red);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.products-button-green{
	background-color: var(--background-green);
}

.products-button-green:hover{
	background-color: var(--hover-button-green);
}

.products-button-green:active{
	background-color: var(--active-button-green);
	color: var(--color-opacity);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.products-button-yellow{
	background-color: var(--background-yellow);
}

.products-button-yellow:hover{
	background-color: var(--hover-button-yellow);
}

.products-button-yellow:active{
	background-color: var(--active-button-yellow);
	color: var(--color-opacity);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* index-columns */
.index-columns{
	display: grid;
	grid-template-columns: 650px auto;
	padding-top: 120px;
}

/* about */
.about-title{
	padding-top: 35px;
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.about-text, .about-subtitle, .about-item{
	color: var(--basic-dark);
}

.about-text{
	margin-top: 33px;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

.about-subtitle{
	margin-top: 42px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

.about-list{
	margin-top: 21px;
}

.about-item{
	position: relative;
	margin-bottom: 23px;
	padding-left: 32px;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}

.about-item::before{
	position: absolute;
	content: "";
	display: block;
	width: 25px;
	height: 2px;
	top: 11px;
	left: 0;
	background-color: var(--background-red);
}

/* advantages */
.advantages{
	padding-left: 110px;
	text-align: center;
}

.advantage-title{
	margin-top: 34px;
	padding-left: 65px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.advantage-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px;
	margin-top: 25px;
}

.advantage-item-decorate{
	padding-top: 5px;
	font-weight: 700;
	font-size: 45px;
	line-height: 64px;
}

.advantage-item-decorate sup{
	font-size: 26px;
	line-height: 40px;
}

.advantage-item-desc{
	padding-top: 12px;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
}

/* companies */
.companies{
	position: relative;
	padding-top: 100px;
	padding-bottom: 126px;
}

.companies::before, .companies::after{
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	display: block;
	background-color: var(--background-section);
}

.companies::before{
	top: 60px;
	left: 0;
}

.companies::after{
	bottom: 90px;
	left: 0;
}

.companies-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
	align-items: center;
	text-align: center;
}

.companies-item{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.companies-item::before{
	position: absolute;
	content: "";
	display: block;
	top: 15px;
	right: 0;
	width: 2px;
	height: 52px;
	background-color: var(--background-section);
}

.companies-item:last-child::before{
	display: none;
}

.companies-img path{
	fill: var(--svg-opacity);
}

.companies-img:hover path{
	fill: var(--basic-black);
}

.companies-img:active path{
	fill: var(--svg-opacity-active);
}

/* contacts */
.contacts{
	padding-top: 54px;
	padding-bottom: 54px;
	background: url('../img/background-contacts/bg-map.png') 0 0/cover no-repeat;
}

.contacts-wrapper{
	padding-left: 50px;
	background-color: var(--basic-white);
	width: 320px;
}

.contacts-title{
	padding-top: 49px;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts-text-address, .contacts-tel{
	padding-top: 22px;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: var(--special-contacts);
}

.contacts-button{
	margin-top: 37px;
	margin-bottom: 47px;
	color: var(--basic-white);
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	background-color: var(--background-red);
	text-transform: uppercase;
}

.contacts-button:hover{
	background-color: var(--color-excerpt-hover);
}

.contacts-button:active{
	color: var(--color-opacity);
	background-color: var(--active-button-red);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* footer */
.footer{
	padding-bottom: 68px;
}

/* footer-sections */
.footer-sections{
	margin-top: 68px;
	display: grid;
	grid-template-columns: min-content 1fr;
	gap: 20px;
}

.socials-links-list{
	display: flex;
}

.socials-item{
	margin: 0 9px;
}

.socials-item-link{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 81px;
	height: 81px;
	border-radius: 50%;
	background: var(--background-social-link);
}

.socials-item-link:hover{
	background: var(--color-excerpt-hover);
}

.social-icon:active path{
	fill: var(--color-opacity);
}

.socials-item:last-child{
	margin-right: 0;
}

.socials-item:first-child{
	margin-left: 0;
}

/* benefit */
.benefit{
	padding-top: 5px;
	padding-left: 113px;
}

.benefit-large-text{
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
}

.benefit-small-text{
	margin-top: 10px;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: var(--special-footer);
}

/* catalog */
.catalog-main-title{
	padding-top: 78px;
	padding-bottom: 108px;
	text-align: center;
	font-weight: 700;
	font-size: 55px;
	line-height: 55px;
	background-color: var(--background-section);
}

/* catalog-wrapper */
.catalog-wrapper{
	display: grid;
	grid-template-columns: 260px 1fr;
	padding-top: 55px;
}

/* filters */
.filters{
	grid-column: 1 / 2;
}

.filter-item{
	margin: 0;
	padding: 0;
	border: none;
}

.range-filter{
	margin-top: 49px;
	width: 260px;
}

.range-controls{
	position: relative;
	margin-bottom: 15px;
	height: 80px;
	padding-top: 39px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--background-section);
	border-radius: 3px;
}

.scale{
	height: 2px;
	background: var(--background-color-scale);
}

.bar{
	position: absolute;
	height: 2px;
	background: var(--background-color-bar);
}

.range-controls .toggle{
	position: absolute;
	top: 31px;
	width: 20px;
	height: 20px;
	padding: 0;
	border: 8px solid var(--basic-white);
	background: #ABABAB;
	border-radius: 50%;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.price-controls label{
	text-transform: uppercase;
}

.price-controls input{
	width: 90px;
	padding: 10px;
	margin-left: 10px;
	text-align: center;
	color: var(--basic-dark);
	border: none;
	border-radius: 5px;
	background: var(--background-input);
	font-family: inherit;
	font-size: inherit;
}

.filter-radio{
	margin-top: 50px;
}

.filter-value,
.filter-radio,
.filter-features{
	border: none;
}

.filter-value-title,
.filter-features-title,
.filter-radio-title{
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter-radio-label{
	position: relative;
	display: block;
	padding-left: 36px;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: var(--basic-dark);
	cursor: pointer;
}

.filter-radio-input + label::before{
	position: absolute;
	content: "";
	left: -5px;
	top: -7px;
	width: 21px;
	height: 21px;
	border: 4px solid var(--color-checkbox);
	opacity: .4;
	border-radius: 50%;
}

.filter-radio-input:checked + label::after{
	position: absolute;
	content: "";
	top: 3px;
	left: 5px;
	width: 9px;
	height: 9px;
	background-color: var(--color-checkbox);
	border-radius: 50%;
	opacity: .4;
}


.filter-radio-list, .filter-features-list{
	margin-top: 10px;
}

.filter-radio-item, .filter-features-item{
	margin-bottom: 20px;
}

.filter-radio-item:last-child,
.filter-features-item:last-child{
	margin-bottom: 0;
}

.filter-features{
	margin-top: 30px;
}

.filter-features-label{
	position: relative;
	display: block;
	padding-left: 36px;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: var(--basic-dark);
	cursor: pointer;
}

.filter-features-checkbox + label::before{
	position: absolute;
	content: "";
	left: -5px;
	top: -5px;
	width: 25px;
	height: 25px;
	border: 2px solid var(--color-checkbox);
	border-radius: 5px;
	background-color: inherit;
	opacity: .3;
}

.filter-features-checkbox:checked + label::after{
	position: absolute;
	content: "";
	left: -1px;
	top: -3px;
	width: 23px;
	height: 23px;
	background-image: url('../img/icons-decorate/shape.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.filters-button{
	margin-top: 48px;
	background-color: var(--background-section);
	color: var(--basic-black);
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
}

.filters-button:hover{
	background-color: var(--background-pagination-hover);
}

.filters-button:active{
	background-color: var(--background-pagination-continuation);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: var(--color-active-black);
}

/* projects */
.projects{
	grid-column: 2 / -1;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* sorting */
.sorting-wrapper{
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
	padding-bottom: 48px;
	padding-left: 61px;
}

.sorting-title{
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.sorting-list{
	display: flex;
	margin-right: 76px;
}

.sorting-item{
	margin-left: 26px;
}

.sorting-item:first-child{
	margin-left: 0;
}

.sorting-item-link{
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	opacity: .3;
	color: var(--basick-black);
}

.sorting-current{
	opacity: 1;
}

.sorting-item-link:hover{
	opacity: 0.6;
}

.sorting-item-link:active{
	color: var(--basick-black);
	opacity: 1;
}

/* projects-list */
.projects-list{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column: 1 / -1;
	gap: 40px;
}

.projects-item{
	display: flex;
	justify-content: flex-end;
}

.projects-item a{
	border-radius: 5px;
	border: 1px solid var(--decorate-color);
}

/* pagination-list */
.pagination-list{
	grid-column: 1 / -1;
	display: flex;
	margin-top: 55px;
	margin-bottom: 60px;
	padding-left: 61px;
}

.pagination-item{
	margin-right: 11px;
}

.pagination-item:last-child{
	margin-right: 0;
}

.pagination-item a{
	display: inline-block;
	padding: 17px 20px 15px 20px;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	border-radius: 3px;
	background: var(--background-section);
	color: var(--basic-black);
	text-decoration: none;
}

.pagination-item a:hover{
	background-color: var(--background-pagination-hover);
}

.pagination-item a:active{
	background-color: var(--background-pagination-continuation);
	color: var(--color-active-black);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.projects-current{
	background-color: inherit;
	/* border: 3px solid var(--color-special-current); */
	outline: 3px solid var(--color-special-current);
	outline-offset: -3px;
	border-radius: 3px;
}



